@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'KoHo', sans-serif;
  background-color: #fae588;
}

header {
  width: 90%;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

header img {
  width: 75%;
}

header p {
  font-size: 25px;
}

main {
  width: 90%;
  margin: auto;
  text-align: center;
}

main figure img {
  border-radius: 5px;
  width: 95%;
  box-shadow: 0px 0px 28px -1px rgba(0,0,0,0.7);
}

main figure {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  margin: 30px 0;
  box-shadow: 0px 0px 28px -1px rgba(0,0,0,0.7);
}

main figure figcaption {
  font-size: 25px;
  font-weight: 500;
}

main button {
  box-shadow: 0px 0px 28px -1px rgba(0,0,0,0.7);
  background-color: #ff9500;
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding: 5px 25px;
  border: none;
  border-radius: 15px;
  transition: .5s;
}

main button:hover {
  background-color: #ff7b00;
}